<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mix a Personal Category Bootstrap Responsive Website Template | Home :: W3layouts</title>

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <!-- /web fonts -->
</head>

<body>
    <!-- header -->
   

    <!--  //Main banner section -->
    <!--  About section -->
    <div class="w3l-about1 pt-5" id="about">
        <div class="container pt-lg-3">
            <h3 class="global-title">About Me</h3>
            <div class="aboutgrids row">
                <div class="col-lg-6 aboutgrid2">
                    <img src="../images/lg.png" alt="about image" class="img-fluid" />
                </div>
                <div class="col-lg-6 aboutgrid1 my-lg-0 my-5">
                    <h4>Qui Sommes nous?</h4>
                    <p>
                       Nous Sommes Seke-Informatique. Seke qui veut dire Aigle dans une langue Africaine. On connait 
                        tous la vision et objectif d'un aigle. Eh beh, chez nous c'est pareil. Nous sommes une entreprise informatique
                       avec une vision profonde specialise dans la conception d'application mobile et de site web. 
                    </p>
                    <p>
                        Seke-Informatique a ete cree en 2020, par quatre jeunes informaticiens qui ont pour but de satisfaire les besoins en
                        de sites et d'application. Seke-Informatique cree des sites adequats et facile a utiliser.
                    </p>

                   
                </div>
            </div>
        </div>

        <div class="aboutbottom py-5">
            <div class="container py-lg-3">
                <div class="bottomgrids row">
                    <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-0">
                        <h4>Nos Realisations</h4>
                        <p>
                            Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin
                            maximus ipsum ut scelerisque.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 bottomgrid1 mt-md-0 mt-5">
                        <h4>Nos Objectifs</h4>
                        <p>
                            Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin
                            maximus ipsum ut scelerisque.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-5">
                        <h4>Nos Partenaires</h4>
                        <p>
                            Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin
                            maximus ipsum ut scelerisque.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 bottomgrid1 mt-lg-0 mt-5">
                        <h4>Pourquoi Nous Choisir?</h4>
                        <p>
                            Donec et venenatis libero. Fusceing dapibus pulvinar tincidunt. Proin
                            maximus ipsum ut scelerisque.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--  //About section -->
    <!--  services section -->
    <
    <script>// When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }</script>
    <!-- /move top -->
    </footer>
    <!-- Footer -->
    <!-- jQuery and Bootstrap JS -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Template JavaScript -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>$(document).ready(function () {
      $('.popup-with-zoom-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-zoom-in'
      });

      $('.popup-with-move-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
      });
    });</script>

    <!-- disable body scroll which navbar is in active -->
    <script>$(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });</script>
    <!-- disable body scroll which navbar is in active -->


    <script src="assets/js/smartphoto.js"></script>
    <script>document.addEventListener('DOMContentLoaded', function () {
      const sm = new SmartPhoto(".js-img-viwer", {
        showAnimation: false
      });
      // sm.destroy();
    });</script>


</body>

</html>